/* style.css */
/* font and colours */
body{
  background: rgb(240,240,240);
  color: rgb(20,20,20);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin: 0
}
h1{
  font-family: 'Roboto', sans-serif;
  color: rgb(30,30,30);
  font-size: 36px;
  font-weight: bold;
}
h2 {
  font-family: 'Roboto', sans-serif;
  color: rgb(50,50,50);
  font-size: 24px;
  font-weight: medium;
}
a {
  color: blue;
}
a:hover {
  text-decoration: none;
  color: purple;
}


/*custom design */
#banner {
  background-image: url("https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60") ;
  background-position: 50% 40%;
  background-size: cover;
  padding: 150px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 5px black

}
#banner h1 {
  color: white;
  font-size: 50px;
}
#banner p {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  
}
.card {
  padding: 50px;
  text-align: center;
}
#footer {
  background: black;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
#footer a {
  color: lightgrey;
  font-size: 20px;
}
#footer a:hover {
  color: white;
}
